*{ 
    box-sizing: border-box;
}
html,body {
    background-color: #ffffff;
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    height: 100%;
}
li {
    list-style: square;
}

/*Company Logo */
a{
    text-decoration: none;

}
a:visited {
    color: black;
}

.company-name{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 0px;
}

.subheader-name {
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Open Sans";
    margin-top: 4px;
    color: #11455c;
    font-size: 14px;
}

/* Navigation bar  */
.site-header {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;

    .logo-container {
        margin-top: 27px;
    }
}
.mobile-container {
    display: none;
}

.navbar-container{
    display: flex;
    margin-bottom: 100px;
    align-items: center;

    li {
       list-style: none;
        font-family: "Open Sans";
        margin-right: 35px;
        font-size: 15px;
        font-weight: 600;
    }
    .nav-items{
        padding-top: 5px;
        a{
            color: #000000;
        }

        a.active{
           padding-top: 10px;
            border-top: solid #11455b;
            border-top-width: 3px;
        }
    }

    .call-now-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #bfa16f;
        border-radius: 36px;
        width: 175px;
        height: 56px;
        text-align: center;
        font-size: 14px;
        box-shadow: 9px 10px 17px -13px rgba(112,105,112,1);
        text-decoration: none;
        margin-right: 0px;
        margin-top: 2px;

        a {
            color: #ffffff;
            display:flex;
            align-items: center;
            letter-spacing: 1px;

        }
    }
}
.mobile-nav-container {
    display: none;
    
}

/* Landing Page  */
.hero-page {
  min-height: 100%;
  background: 
    radial-gradient(circle, rgba(0,0,0,0.02) 1px, transparent 1px),
    radial-gradient(circle, rgba(0,0,0,0.02) 1px, transparent 1px);
  background-size: 10px 10px;
  background-position: 0 0, 5px 5px;
  background-color: #efede8; 
    

}

.pages-container {
    display: flex;
    flex-direction: column;

    .hero-page-layout {
        display: flex;
    }

    .hero-page-left, .hero-page-right {
        width: 50%;
        /* height: auto; */
    }
    
/* Left page */
    .hero-page-left {
        display:flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 15px;
        

        .logo-container {
            margin: 20px;
        }
       .company-name {
        font-size: 24px;
        color: #F2F2F2;
       }

        .cta-container {
            display: flex;
            justify-content: center;
            align-items: center;

            background: linear-gradient(287deg, rgba(132,203,214,1) 3%, rgba(17,69,92,1) 96%);
            border-radius: 8px;
            width: 100%;
            min-height: 75vh;

            
        }

        .cta-header{
            margin-top: 0px;
            font-size: 50px;
            font-family: "Montserrat";
            align-content: center;
            color: #ffffff;
        }
        .attorney{
            color: #bfa16f;
        }

      
    }
    
    /* Right Page*/
    .hero-page-right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .navbar-container {
            padding-left: 125px;

            .nav-items a.active {
                border-top: solid #11455C;
                border-top-width: 3px;
    
            }
        }

        .cta-image{
            display: block;
            margin: 0 auto;
        }
    }
}


/* middle home page*/
.site-body {
    background-color: #Fff;
    max-width: 100%;
    padding: 100px 100px 0px 100px;

    .about-me-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        width: 890px;
        font-size: 18px;
        margin-bottom: 185px;
    }

}

/* last home page*/
    .cases-covered-header{
        font-family: "Montserrat";
        font-size: 24px;
    }

/* Additional Pages Reusable CSS */
footer{
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(287deg, rgba(132,203,214,1) 3%, rgba(17,69,92,1) 96%);;
    color: #ffffff;
    height: 120px;
    align-items: center;

    .footer-item {
        margin-right: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        color: #000000;

        a{
        color: #000000;

        }
        a:visited {
            color: #000000;
        }
    }
    
}

.page-title-header{
    height: 250px;
    background: linear-gradient(287deg, rgba(132,203,214,1) 3%, rgba(17,69,92,1) 96%);
    padding-top: 90px;
    padding-left: 90px;
    font-size: 42px;
    color: #ffffff;
    margin-top: 0px;
}

.content-body {
    margin: 20px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    .list-item-paragraph {
        margin-top: 3px;
    }
}

.last-paragraph {
    line-height: 1.5;
}
