/* Base styles */
* {
    box-sizing: border-box;
  }
  
  html, body {
    background-color: #ffffff;
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  li {
    list-style: square;
  }
  
  a {
    text-decoration: none;
  }
  
  a:visited {
    color: black;
  }
  
  .mobile-nav-container{
    display: none;
  }


  .company-name {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 0px;
  }
  
  .subheader-name {
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Open Sans";
    margin-top: 4px;
    color: #1d84b1;
    font-size: 14px;
  }
  
  /* Navigation bar */
  .site-header {
    display: flex;
    justify-content: space-between;
    margin: 0 3vw;
  }
  
  .logo-container {
    margin-top: 27px;
  }
  
  .navbar-container {
    display: flex;
    margin-bottom: 100px;
    align-items: center;
  }
  
  .navbar-container li {
    list-style: none;
    font-family: "Open Sans";
    margin-right: 35px;
    font-size: 15px;
    font-weight: 600;
  }
  
  .nav-items {
    padding-top: 5px;
  }
  
  .nav-items a {
    color: #000000;
  }
  
  .nav-items a.active {
    padding-top: 10px;
    border-top: solid #1d84b1;
    border-top-width: 3px;
  }
  
  .navbar-container .call-now-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bfa16f;
    border-radius: 36px;
    width: 175px;
    height: 56px;
    text-align: center;
    font-size: 14px;
    box-shadow: 9px 10px 17px -13px rgba(112,105,112,1);
    text-decoration: none;
    margin-right: 0px;
    margin-top: 2px;
  }
  
  .call-now-btn a {
    color: #ffffff;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
  }

  /* Landing Page */
  .hero-page {
    min-height: 100%;
    background: 
      radial-gradient(circle, rgba(0,0,0,0.02) 1px, transparent 1px),
      radial-gradient(circle, rgba(0,0,0,0.02) 1px, transparent 1px);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
    background-color: #efede8;
  }
  
  .pages-container {
    display: flex;
    flex-direction: column;
  }
  
  .hero-page-layout {
    display: flex;
  }
  
  .hero-page-left, .hero-page-right {
    width: 50%;
  }
  
  .hero-page-left {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 15px;
  }
  
  .hero-page-left .logo-container {
    margin: 20px;
  }
  
  .hero-page-left .company-name {
    font-size: 24px;
    color: #F2F2F2;
  }
  
  .cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(9, 53, 84);
    border-radius: 8px;
    width: 100%;
    min-height: 76vh;
    box-sizing: border-box;
  }
  
  .cta-header {
    margin-top: 0px;
    font-size: 50px;
    font-family: "Montserrat";
    align-content: center;
    color: #ffffff;
  }
  
  .attorney {
    color: #bfa16f;
  }
  
  .hero-page-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    container-type: inline-size;
  }
  
  .hero-page-right .navbar-container {
    padding-left: 125px;
  }
  
  .hero-page-right .navbar-container .nav-items a.active {
    border-top: solid #11455C;
    border-top-width: 3px;
  }
  
  .hero-page-right .cta-image {
    display: block;
    margin: 0 auto;
    width: clamp(400px, 30vw, 489px);
    height: auto;
    aspect-ratio: 489 / 735;
    object-fit: cover;
  }

  
  /* Home Page Content */
  .site-body {
      background-color: #fff;
      max-width: 100%;
      padding: 100px;
    }
    
    .about-me-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        width: 890px;
        font-size: 18px;
    }
    
    /* Home Page Cases Content*/
    .cases-covered-header {
        font-family: "Montserrat";
        font-size: 24px;
    }
    
    /* Additional Pages Reusable CSS */
    footer {
        display: flex;
        justify-content: space-between;
        background: rgb(9, 53, 84);
        height: 120px;
        align-items: center;
        padding: 0 2vw;
    }
    .footer-logo-container .company-name{
        color: #F2F2F2;
        font-size: 20px;
    }
    
    .footer-item {
        font-weight: 700;
        letter-spacing: 0.5px;
    }
    
    .footer-item a {
        color: #F2F2F2;
    }
    
    .footer-item a:visited {
        color: #F2F2F2;
    }
    .page-title-container {
      height: 250px;
      background: #0a3454;
      display: flex;
      align-items: center;
    }

    .page-title-header {
        margin-left: 2rem;
        font-size: 42px;
        color: #ffffff;
    }
    
    .content-body {
        margin: 20px auto;
        width: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .list-item-paragraph {
        margin-top: 3px;
    }
    
    .last-paragraph {
        line-height: 1.5;
    }
    
    /* Responsive Design */

    /* CTA Image specific media queries*/
    @media(min-width: 1075px) and (max-width: 1490px) {
      .hero-page-right .cta-image{
          margin-top: 4rem;
          transition: margin-top 0.3s ease;
      }
    }  
    
    /* CTA Container Specific media queries*/
    @media(min-width:1075px) and (max-width:1205px){
      .hero-page-left .cta-container .cta-header{
          font-size: 44px;
  
      }

      .logo-container .company-name{
        font-size: 20px;
      }
    }
  
    /* Smaller desktop - Tablet Design*/
    @media (max-width: 1074px) {
      .hero-page-layout {
        flex-direction: column;
      }
      .hero-page-left {
          margin: 0px;
      }
      .hero-page-left, .hero-page-right {
        width: 100%;
      }
      .navbar-container .call-now-btn{
          margin-right: 0px;
      }
      .logo-container .company-name{
          font-size: 20px;
      }

      .hero-page-left .cta-container {
        width: 92vw;
        margin: 0 auto; /* Center the container */
        height: 60vh;
      }
  
      .hero-page-right .cta-image {
        display: none;
      }
  
      .hero-page-left .cta-container .cta-header {
          font-size: 40px;
      }
    }

    @media (min-width: 800px) and (max-width: 1000px) {
      .hero-page-left .cta-container {
        width: 95vw;
        max-width: 95vw;
        margin: 0 auto;
      }
      
      .hero-page-left .cta-container .cta-header {
        font-size: 36px;
      }
    } 
    
    /* Additional Page : FAQs , etc */
    @media(max-width: 949px){
      
      .mobile-nav-container{
        display: block;
        
      }
      
      .mobile-container{
        display: flex;
        margin-top: 27px;
      }
      .mobile-container li {
        list-style: none;
        margin-left: 20px;
      }
      
      .nav .navbar-container{
        display: none;
      }
      
      .logo-container .company-name{
        font-size: 18px;
      }
      .mobile-container .nav-link.active {
        padding-top: 10px;
        border-top: solid #1d84b1;
        border-top-width: 3px;
      }
      .hero-page-left .cta-container {
        margin-top: 8rem;
        min-height: 0;
        width: 95vw;
      }
      .cta-container{
        margin: 0 0.75rem;
        width: 90vw;
      }
      
      /* Title Section For Additional Pages */
      .page-title-container {
        height: 210px;
      }
      
      .page-title-header{
        font-size: 38px;
      }
      
      /* Content Body Section Add. Pages  */
      .content-body{
        width: 80%;
      }
      
      .site-body {
        padding: 60px;
      }
      
      /* Footer Section */
      .footer-logo-container .company-name{
        font-size: 15px;
      }
      .footer-item{
        font-size: 12px;
      }
      
    }
    
    @media(max-width: 865px) {
      .hero-page-left .cta-container{
        width: 92vw;
      }
    }

    @media (max-width: 600px) {
      .hero-page-left .cta-container {
        width: 90vw;
        padding: 20px;
      }
      
      .hero-page-left .cta-container .cta-header {
        font-size: 32px;
      }
      .page-title-header {
        font-size: 32px;
      }
    }
  
  