*{ 
    box-sizing: border-box;
}
html,body {
    background-color: #ffffff;
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
    height: 100%;
}
li {
    list-style: square;
}

/*Company Logo */
a{
    text-decoration: none;

}
a:visited {
    color: black;
}

.company-name{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 0px;
}

.subheader-name {
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Open Sans";
    margin-top: 4px;
    color: #84CBD6;
    font-size: 14px;
}

/* Navigation bar  */
.navigation-container {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;

    .branding-container {
        margin-top: 27px;
    }
}
.mobile-container {
    display: none;
}

.navbar-container{
    display: flex;
    margin-bottom: 100px;
    align-items: center;

    li {
       list-style: none;
        font-family: "Open Sans";
        margin-right: 35px;
        font-size: 15px;
        font-weight: 600;
    }
    .nav-items{
        padding-top: 5px;
        a{
            color: #000000;
        }

        a.active{
           padding-top: 10px;
            border-top: solid #000080;
            border-top-width: 3px;
        }
    }

    .call-now-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #634017;
        border-radius: 36px;
        width: 175px;
        height: 56px;
        text-align: center;
        font-size: 14px;
        box-shadow: 9px 10px 17px -13px rgba(112,105,112,1);
        text-decoration: none;
        margin-right: 0px;
        margin-top: 2px;

        a {
            color: #ffffff;
            display:flex;
            align-items: center;
            letter-spacing: 1px;

        }
    }
}
.mobile-nav-container {
    display: none;
    
}

/* Landing Page  */
.hero-page {
    min-height: 100%;
    background-color: #edecea;

}

.pages-container {
    display: flex;

    .hero-page-left, .hero-page-right {
        flex: 1;
    }
/* Left page */
    .hero-page-left {
        display:flex;
        flex-direction: column;
        background: linear-gradient(287deg, rgba(132,203,214,1) 3%, rgba(17,69,92,1) 96%);
        margin-top: 55px;
        margin-left: 30px;
        margin-right: 15px;
        border-radius: 8px;
        flex: 1;

        .branding-container {
            margin: 20px;
        }
       .company-name {
        font-size: 24px;
        color: #F2F2F2;
       }

        .cta-container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 290px 0px;
        }

        .cta-header{
            margin-top: 0px;
            font-size: 50px;
            font-family: "Montserrat";
            align-content: center;
            color: #ffffff;
        }
        .texas{
            color: black;
        }
        .attorney{
            color: #634017;
        }

      
    }
    
    /* Right Page*/
    .hero-page-right {
        .navbar-container {
            padding-left: 125px;

            .nav-items a.active {
                border-top: solid #000080;
                border-top-width: 3px;
    
            }
        }

        .cta-image{
            display: block;
            margin: auto;
            margin-left: 266px; 
        }
    }
}


/* middle home page*/
.site-body {
    background-color: #Fff;
    max-width: 100%;
    padding: 100px 100px 0px 100px;

    .about-me-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: fit-content;
        margin-left: auto;
        margin-right: auto;
        width: 890px;
        font-size: 18px;
        margin-bottom: 185px;
    }

}

/* last home page*/
    .cases-covered-header{
        font-family: "Montserrat";
        font-size: 24px;
    }

/* Additional Pages Reusable CSS */
footer{
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(287deg, rgba(132,203,214,1) 3%, rgba(17,69,92,1) 96%);;
    color: #ffffff;
    height: 120px;
    align-items: center;

    .footer-item {
        margin-right: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        color: #000000;

        a{
        color: #000000;

        }
        a:visited {
            color: #000000;
        }
        
        
    }
    
}

.page-title-header{
    height: 250px;
    background: linear-gradient(287deg, rgba(132,203,214,1) 3%, rgba(17,69,92,1) 96%);
    padding-top: 90px;
    padding-left: 90px;
    font-size: 42px;
    color: #ffffff;
    margin-top: 0px;
}

.content-body {
    margin: 20px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

    .list-item-paragraph {
        margin-top: 3px;
    }
}

.last-paragraph {
    line-height: 1.5;
}


@media (min-width: 500px) and (max-width: 1250px) {
    /* Home Page*/
    .mobile-nav-container {
        display: none;
        
    }
    /* Additional Pages */
    .mobile-nav{
        display: none;
    }
    .pages-container {
        display: flex;
        flex-direction: column-reverse;

        .navbar-container {
            margin-bottom: 20px;
            justify-content: flex-end;
    
            li {
                font-size: 12px;
            }

            .call-now-btn {
                width: 150px;
                height: 50px;
                margin-left: 0px;
                margin-right: 0px;
            }
        }
        .hero-page-left {
            margin-left: 15px;
            margin-top: 25px;

            .cta-header {
                font-size: 40px;
            }
        }

        .hero-page-right {

            .navbar-container {
                padding-left: 10px;
                .nav-items {
                    margin-right: 20px;
                }
            }
            .cta-image {
                display: none;
            }

        }
    }

    /* Reusable Styles faq| profile| contact */
    .navigation-container {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        .branding-container {
            margin-top: 20px;
        }

        .navbar-container {
            padding-left: 0px;
            margin-bottom: 45px;
        }

        .company-name {
            font-size: 18px;
        }
        .nav-items {
            margin-right: 20px;
        }
        .call-now-btn {
            width: 212px;
        }
    }
    .page-title-header {
       height: 225px;
       font-size: 30px;
       padding-left: 40px; 
       padding-top: 75px
    }

    .content-body {
        width: auto;
        margin: 20px;
    }
    .contact-us-container {
        flex-direction: column;
        margin: 0px 20px;
    }

    /* Other styles */
    .last-paragraph {
        margin-bottom: 60px;
    }
    
    
}
@media (min-width: 500px) and (max-width: 799px) {
    .navigation-container {
        flex-direction: column;
    }

    .site-body{
        padding: 65px 35px 0px 35px;
    }
    footer{
        height:100px;
       }
}
@media (min-width: 150px ) and (max-width: 499px) {
    /* Landing Page Navigation */
    .mobile-nav-container {
        display: block;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: #F2F2F2;
    }
    .mobile-nav {
        width: 100%;
    }

    .mobile-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        margin: 0;
        list-style: none; 
    }
    .mobile-container li {
        list-style: none;
    }
    .mobile-container img {
        width: 24px;
        height: 24px
    }
    .mobile-container a.active{
        border-bottom: solid  #634017;
        border-bottom-width: 3px;

    }
    .hero-page{
        min-height: 85%;
    }
    .pages-container {
        flex-direction: column;
    }
    .pages-container .hero-page-left .cta-header {
        font-size: 32px;
        margin-bottom: 0px;
    
    }
    .hero-page-left {
        margin-left: 15px;

        .cta-header{
            font-size: 20px;
        }
    }
  
    .hero-page-right {
        display: none;
    }
    .site-body{
        padding: 65px 35px 0px 35px;
        .about-me-container{
            margin-bottom: 100px;
        }
    }

    /* Additional Pages Navigation */
    .navigation-container {
        display: none;
    }
    .desktop-nav{
        display: none;
    }
   .content-body{
        width: auto;
        margin: 0px 20px;
   } 
   .page-title-header{
       height: 160px;
       font-size: 30px;
       padding-left: 40px; 
       padding-top: 58px;
   }
   h1.faq{
        padding-top: 40px;
    }
    .last-paragraph {
        margin-bottom: 45px;
    }


   /* landing page - types of cases */
   .cases-covered-container .cases-covered-header {
    font-size: 20px;

   }

   /* Contact Page */
   .contact-us-container {
    overflow-x: hidden;
    flex-direction: column;
    margin: 0px 20px;
   }
   footer{
    height:90px;
   }
}